
python-dotenv

langchain
langchain-core
langchain-community
langchain-huggingface
langgraph
langgraph-checkpoint-sqlite
huggingface-hub
langchain-groq


pypdf
python-docx

requests

streamlit

duckduckgo-search
ddgs
